# pycache
__pycache__
*.pyc

# virtualenv/pip
/.virtualenv
/.venv
/bin
/dist
/include
/lib
/share
/pip-selfcheck.json
*.egg-info

# pytest data
/.cache
/.coverage
/.pytest_cache
/htmlcov

# vagrant
.vagrant
